*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #040216;
}

.grid-content{
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'nav content'
  ;
  gap: 10px;
}

.header{
  grid-area: header;
  border-radius: 15px;
}

.nav{
  grid-area: nav;
  border-radius: 15px;
}

.content{
  grid-area: content;
  border-radius: 15px;
  padding: 15px;
}